:root {
    --main-color: #189eff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #f4f4f4;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

.wrap-login {
    font-size: 2rem;
}

.login-form {
    text-align: center;
    margin-top: 8rem;
}

.form-group label {
    width: 10rem;
    display: inline-block;
    text-align: left;
    margin-bottom: 1rem;
}

.form-group input {
    width: 35rem;
    padding: .375rem .75rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.login-form .btn-success.btn {
    border: none;
    padding: .6rem 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    background: #28a745;
    color: #fff;
}

.login-form .btn {
    color: #212529;
}

.tikicon.icon-check-off, .tikicon.icon-check-on {
    width: 24px;
    height: 24px;
    background-image: url(../Image/sprite.png?v=1519811185467);
}

.tikicon.icon-check-off {
    background-position: -29px -409px
}

.tikicon.icon-check-on {
    background-position: -58px -409px
}

.tikicon.icon-arrow-down {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -484px -449px;
    width: 12px;
    height: 6px
}

.tikicon.icon-booking_dot_com {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -41px -461px;
    width: 13px;
    height: 18px
}

.tikicon.icon-burger-menu {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -427px -331px;
    width: 20px;
    height: 16px
}

.tikicon.icon-cart {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -455px -201px;
    width: 19px;
    height: 18px
}

.tikicon.icon-clearance-sale {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -455px -359px;
    width: 18px;
    height: 18px
}

.tikicon.icon-exclusive {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -394px -98px;
    width: 28px;
    height: 29px
}

.tikicon.icon-global-18 {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -455px -336px;
    width: 18px;
    height: 18px
}

.tikicon.icon-gotadi{
    width: 18px;
    height: 18px;
    background-image: url(../Image/sprite.png?v=1519811185467)
}

.tikicon.icon-gotadi {
    background-position: -427px -132px
}

.tikicon.icon-location-picker{
    width: 24px;
    height: 24px;
    background-image: url(../Image/sprite.png?v=1519811185467)
}

.tikicon.icon-location-picker {
    background-position: -406px -376px
}

.tikicon.icon-notification {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -261px -376px;
    width: 24px;
    height: 24px
}

.tikicon.icon-return {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -132px -376px;
    width: 28px;
    height: 28px
}

.tikicon.icon-search {
    width: 14px;
    height: 15px;
    background-image: url(../Image/sprite.png?v=1519811185467)
}

.tikicon.icon-search {
    background-position: -226px -327px
}

.tikicon.icon-tikinow {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -192px -265px;
    width: 58px;
    height: 28px
}

.tikicon.icon-tracking, .tikicon.icon-user {
    width: 22px;
    height: 22px;
    background-image: url(../Image/sprite.png?v=1519811185467)
}

.tikicon.icon-tracking {
    background-position: -484px -25px
}

.tikicon.icon-user {
    background-position: -484px -52px
}

.tikicon.icon-uu-dai-hop-tac {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -455px -382px;
    width: 18px;
    height: 18px
}

.tikicon.icon-hot-deal-icon {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -95px -200px;
    width: 48px;
    height: 48px
}

.tikicon.icon-money_bag {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -484px -425px;
    width: 18px;
    height: 19px
}
.tikicon.icon-tiki_short {
    background-image: url(../Image/sprite.png?v=1519811185467);
    background-position: -137px -265px;
    width: 50px;
    height: 33px
}

.tiki-assistant {
    background: url(../Image/1f41899d3b37d9aa3197b8839f6916fe.png);
    display: inline-block;
    width: 18px;
    height: 18px;
}

.tikicon {
    display: inline-block;
    vertical-align: middle;
}

/*END_SPRITE*/
.top-bar {
    height: 50px;
    background: #104fe3 url(../Image/top-banner.png) no-repeat;
    background-position: center;
}

.header__promo {
    background: #1d71ab;

}

.top-promo__wrap {
    display: flex;
    justify-content: flex-end;
}

.top-promo__link {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    line-height: 26px;
    display: inline-block;
    letter-spacing: .5px;
    margin: 0 0 0 15px;
    vertical-align: middle;
}

.top-promo__link .tikicon {
    margin-right: 5px;
}

header {
    color: #fff;
}

header a {
    color: #fff;
}

.header__form {
    background: #189eff;
    padding: 20px 0 16px;
}

.header__form-wrap {
    display: flex;
}

.header__flash-sale img {
    height: 33px;
}

.form-search {
    width: 544px;
    margin-left: 10px;
}

#search-from {
    display: flex;
    width: 100%;
    box-shadow: rgba(98, 98, 98, 0.5) 0px 1px 2px 0px;
}

.form-search .input {
    flex: 1 1 0%;
}

.form-search .input input {
    height: 40px;
    width: 100%;
    max-width: 100%;
    border-radius: 4px 0px 0px 4px;
    padding: 0 8px;
    border: 0;
    font-size: 13px;

}

.form-search .submit {
    background: #edeef2;
    padding: 0 11px 0 15px;
    border-radius: 0 4px 4px 0;
    height: 40px;
    border: 0;
    font-size: 14px;
    display: table-cell;
}

.header__link {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    flex: 1 1 auto;
    justify-content: space-evenly;
}

.header__link > * {
    display: flex;
    align-items: center;
}

.header__link > a > .tikicon {
    margin-right: 1rem;
}

.header-link__item-icon-user {
    position: relative;

}
.icon-user{
    margin-right: 1rem;
}
.header-link__item-icon-user .box-logout {
    position: absolute;
    padding: 11px 0;
    position: absolute;
    top: 50px;
    left: -35px;
    border: 1px solid #efefef;
    background: #fff;
    width: auto;
    min-width: 265px;
    z-index: 15;
    list-style: none;
    margin: 0;
    padding: 4px 12px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0,0,0,.18);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.18);
    position: absolute;
    top: 50px;
    left: -42px;
}

.header__cart-btn {
    border: 2px solid #fff;
    padding: .8rem 1.1rem;
    border-radius: 4px;
}

.header__cart-btn .cart-count {
    color: #4a4a4a;
    background: #fdd835;
    height: 20px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 9px;
    font-size: 12px;
    padding: 0 6px;
    font-weight: 700;
}

.header__nav {
    background: #189eff;
    padding: 0 0 12px;
    font-size: 1.2rem;
}
.header__nav-main .icon-burger-menu{
    margin-right: 8px;
}
.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature > * {
    display: inline-block;
    vertical-align: middle;

}

.breadcrumb-wrap {
    background: #efefef;
    margin-bottom: 20px;
}

.breadcrumb {
    display: flex;
}

.breadcrumb a {
    color: #999;
    display: block;
    background: #efefef;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: left;
    margin-right: 23px;
    font-size: 13px;
    font-weight: 300;
}
.breadcrumb span{
    color: #333;
    display: block;
    background: #efefef;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: left;
    margin-right: 23px;
    font-size: 13px;
    font-weight: 300;
}
.breadcrumb a:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #e1e1e1;
    position: absolute;
    z-index: 2;
    left: 100%;
    top: 0;
}

.breadcrumb a:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    z-index: 3;
    top: 0;
    right: -18px;
}

.breadcrumb li:last-child a:after, .breadcrumb li:last-child a:before {
    display: none;
}

/*-------CONTENT--------*/

.tiki-deal-header{
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 17px 0px 17px 66px;
    background-size: 48px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #f4f4f4;
    margin-top: 10px;
    position: relative;
}
.tiki-deal-header .tikicon{
    position: absolute;
    top: 13px;
    left: 10px;
}

.tiki-deal-header .title{
    color: #ff3d00;
    font-size: 18px;
    font-weight: 500;
}
.content__wrap {
    display: grid;
    grid-template-columns: 253px 1fr;

}

.panel__wrap {
    background: #fff;
    padding: 16px;
    border-right: 1px solid #f4f4f4;
}

.panel:nth-child(n+2) {
    border-top: 2px solid #f7f7f7;
}

.panel__heading{
    font-weight: 500;
    margin-bottom: 10px;
}

.filter-category{
    list-style-type: none;
    padding: 0;
}

.filter-category .checkbox{
    margin: 13px 10px 0 0;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    color: #4a4a4a;
}

.filter-category input[type=checkbox]{
    display: none;
}

.filter-category .icon-check-off{
    margin-right: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-category .icon-check-on{
    margin-right: 9px;
    background-position: -58px -409px;
    width: 24px;
    height: 24px;
    background-image: url(../Image/sprite.png?v=1519811185467);
}
/*PRODUCTFILTER*/


.tabs {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #ececec;
}

.tabs li {
    margin: 0 47px -1px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 24px 0;
    color: #999;
    cursor: pointer;
    white-space: nowrap;
}

.tabs a {
    font-weight: 400;
    color: #898989;
    padding: 10px 10px 10px;
    display: inline-block;
    font-size: 14px;
}

.tablinks{
    margin: 0 47px -1px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 24px 0;
    color: #999;
    cursor: pointer;
    white-space: nowrap;
}

.tablinks:hover{
    border-bottom: 2px solid #0092ff;
}

.tabs .active{
    border-bottom: 2px solid #0092ff;
}
/*END-PRODUCTFILTER*/
/*Product*/

.products__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    background: #fff;
}

.product {
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 16px;
    margin-bottom: 20px;
}

.product:hover {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.discount-badge{
    width: 40px;
    height: 35px;
    position: absolute;
    background: url(../Image/price-tag-v2.png);
    background-size: contain;
    padding: 0;
    line-height: 31px;
    font-weight: 500;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.product__image {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
    margin: auto;
    text-align: center;
}

.product__image img {
    width: 145px;
    display: inline;
}
.product__sale-regular {
    color: #787878;
    text-decoration: line-through;
    font-size: 13px;
}
.product__sale {
    color: #242424;
    display: block;
    padding-top: 4px;
    line-height: 1.54;
}

.product__sale-final {
    font-weight: bold;
    display: block;
    font-size: 16px;
}

.pagination{
    margin-top: 10px;
    text-align: right;
}
.pagination a{
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}
.product__title {
    font-size: 13px;
    color: #777;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.54;
}

.icon-tikinow {
    background: url(../Image/tiki-now-15.png);
    width: 53px;
    height: 15px;
    display: inline-block;
    position: relative;
    margin-right: 7px;
}

.icon-tikinow:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    width: 1px;
    height: 10px;
    margin-top: -3px;
    background-color: #D8D8D8;
}



/*-------END-CONTENT--------*/
/*-------FOOTER--------*/
footer {
    background: #fff;
    margin-top: 40px;
}

/*-------END-FOOTER--------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 14px;
}

.error {
    color: transparent;
    font-size: 15px;
    color: red;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    /* width: 100% !important; */
    max-width: 1270px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    /* display: flex; */
    /* align-items: center; */
    background-color: #f4f4f4;
    width: 100%;
}

.tikiNew-icon {
    display: block;
    margin-top: -20px;
    background-image: url(../Image/sprite.png);
    background-position: 0 0;
    width: 163px;
    height: 99px;
    margin-right: 20px;
}
.form-control{
    float: left;
}
.mc-field-group {
    width: 345px;
    margin-right: 10px;
    margin-top: 35px;
}

.tiki-home-email {
    float: left;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 13px;
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tikiNews {
    margin-right: 30px;
}

.btn-News {
    background: #00afef;
    color: #fff;
    margin-top: 35px;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    height: 38px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.footer-an {
    margin-top: 1rem;
    background-color: white;
}

.footer-nav {
    margin-right: 15px;
    /* width: 20%; */
    width: 226px;
    display: inline-block;
    vertical-align: top;
}

.footer-link {
    color: black;
    text-decoration: none;
    margin-bottom: 11px;
    font-size: 12px;
    display: block;
}

.hotline-number {
    color: #c4011a;
    font-weight: 500;
    font-size: 14px;
}

.tiki-icon-pay {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 7px;
}

.visa {
    width: 54px;
    height: 33px;
    background-position: -198px -155px;
    background-image: url(../Image/sprite.png);
}

.master-card {
    width: 54px;
    height: 33px;
    background-position: -207px -200px;
    background-image: url(../Image/sprite.png);
}

.jbc {
    width: 54px;
    height: 33px;
    background-position: -139px -155px;
    background-image: url(../Image/sprite.png);
}

.cash {
    width: 54px;
    height: 33px;
    background-position: -264px -104px;
    background-image: url(../Image/sprite.png);
}

.banking {
    width: 54px;
    height: 33px;
    background-position: -257px -155px;
    background-image: url(../Image/sprite.png);
}

.installment {
    width: 54px;
    height: 33px;
    background-position: -148px -200px;
    background-image: url(../Image/sprite.png);
}

.icon-fb {
    background-image: url(../Image/sprite.png);
    background-position: -349px -209px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.icon-yt {
    background-image: url(../Image/sprite.png);
    background-position: -349px -172px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.icon-zl {
    background-image: url(../Image/sprite.png);
    background-position: -349px -135px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.ios {
    background-image: url(../Image/sprite.png);
    background-position: -125px -104px;
    width: 134px;
    height: 40px;
    cursor: pointer;
}

.adroi {
    background-image: url(../Image/sprite.png);
    background-position: 0 -155px;
    width: 134px;
    height: 40px;
    cursor: pointer;
}

.loaction {
    float: left;
    background-image: url(../Image/sprite.png);
    background-position: 0 -265px;
    width: 38px;
    height: 57px;
    margin-right: 20px;
}

.loction-content {
    font-style: normal;
    font-size: 11px;
    color: #4a4a4a;
    margin-bottom: 1px;
    line-height: 22px;
    font-weight: 300;
}

.wraper {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.btm {
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.btm.right {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 50%;
}

.btm-footer {
    color: #333;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    vertical-align: top;
}

.btm-footer {
    text-decoration: none;
}

.tiki-icon-pay.ok {
    background-image: url(../Image/sprite.png);
    background-position: -1px -108px;
    width: 120px;
    height: 46px;
}

.left-t {
    float: left;
    width: 70%;
}

.Notarized {
    float: right;
    margin-right: 68px;
    width: 30%;
}
.gg
{
    float: right;
}

.kk{
    margin-bottom: 15px;
}

.kk, .ok{
    cursor: pointer;
}